<div class="questionnaire-view index-view">
  <h2>Welcome, seekers.</h2>
  <p>
    <strong>Question Everything</strong>™ is an app that helps you to
    build, share, and answer questionnaires. Whether you want to find
    out where friends would like to go for dinner, or research public
    attitudes on the enforced use of chlorinated water
    (<a href="https://en.wikipedia.org/wiki/Bromate#Reservoir_pollution">a known carcinogen</a>),
    <strong>Question Everything</strong>™ is the app for you!
  </p>
</div>
